body {
    margin-top: 90px;
}

body > .navbar > .navbar-inner {
    text-align: center;
}

#user-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}

.header {
}

.logo {
}

.user {
}

.mybutton {
    float: left;
}

.container {
}

.page {
}

